# Copyright (c) Team CharLS.
# SPDX-License-Identifier: BSD-3-Clause

# Ignore build output
build/

# Ignore files created by Visual Studio / Visual Studio Code
.vs/
.vscode/
**/Properties/launchSettings.json

# Ignore files created by MSBuild
*.binlog


